*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
      -White: hsl(0, 0%, 100%);
}

body {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Public Sans', sans-serif;
}

a {
    text-decoration: none;
}


.main{
  
    height: 100%;
    width: 100%;
}

@media (max-width: 1440px) {

.Flex-header {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     width: 100%;
     margin: auto;
     height: 50px;
     align-items: center;
     background-color: hsl(0, 0%, 100%);
     margin-bottom: 80px;
     /*border-style: solid;*/
     position: absolute;
     padding: 5px 50px;
     z-index: 2;

}

.icon{
    width: 200px;
    float: left;
    height: 20px;
    padding-left: 0.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: transparent;
}

.logo{
    color: #ff7200;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    margin: 0px;
    background-color: transparent;
}

.menu {
    width: auto;
    float: left;
    height: 30px;
    margin-top: 0px;
    background-color: transparent;
   
}

.menu ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: -50px;
    background-color: transparent;

}

.menu ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 14px;
    background-color: transparent;
    
   
}

.menu ul li a {
    text-decoration: none;
    color: #2e2c2c;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s;
    background-color: transparent;
    position: relative;
    margin-left: 20px;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:-35px;
    width: 0;
    height: 4px;
    background:hsl(233, 8%, 62%);
    transition: all .5s;
}

.menu ul li a:hover{
    color: hsl(136, 65%, 51%);
    text-decoration: underline;
}

.menu ul li a:hover::after{
    width: 100%;
}

.dropdown-toggle {
    display: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.search{
    background-color: transparent;
}

.btn{
    width: 200px;
    height: 30px;
    background: linear-gradient(to right, hsl(136, 65%, 31%), hsl(192, 70%, 51%));
    border: 2px solid hsl(136, 65%, 51%);
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #ffff;
    margin-top:0px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 100px;
}

.seconDiv{
    width: 90%;
    color: #000000;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 50px;
    
}

.seconDiv h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Times New Roman';
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-top: 30%;
    letter-spacing: 2px;
}

.seconDiv .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: sans-serif;
    letter-spacing: 1.2px;
    line-height: 20px;
    margin-left: 40px;
}

.seconDiv .cn{
    width: 160px;
    height: 40px;
    background: linear-gradient(to right, hsl(136, 65%, 31%), hsl(192, 70%, 51%));
    border: none;
    margin-bottom: 10px;
    margin-left: 55px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.seconDiv .cn a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    background-color: transparent;
}

.cn:hover{
    background-color: hsl(233, 26%, 24%);
}

.seconDiv span{
    color: hsl(136, 65%, 51%);
    font-size: 50px; 
}

.imageDiv{
    /*position: relative;*/
    float: right;
    background: url(images/bg-intro-desktop.svg);
    background-position-x: 50px;
    background-position-y: -80px;
    /*margin-top: -80px;*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.imageDiv .one {
    width: 80%;
    transform: translate(140px, -50px);
    background: transparent;
    
}

.thirDiv {
    margin-top: -150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 98%);
    /*border-style: solid;*/
    width: 90%;
    align-self: center;
}

.thirDiv h2{
    font-size: 30px;
    margin-left: 50px;
    background-color: transparent;
    padding-top: 80px;
    margin-bottom: 20px;
}

.thirDiv p{
    background-color: transparent;
    margin-left: 50px;
    padding-bottom: 30px;
}

.marketing {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-top: 10px;
}

.firstM {
    justify-content: left;
    background-color: transparent;
}

.firstM img {
    width: 35%;
    height: auto;
    padding-left: 50px;
    padding-bottom: 20px;
    background-color: transparent;
}

.firstM h3{
    padding-left: 50px;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 18px;
    
}

.firstM p{
    font-size: 15px;
}

.articleDiv {
    margin-top: 100px;
    background-color:  hsl(0, 0%, 100%);
    /*border-style: solid;*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.articleDiv h2 {
    font-size: 30px;
    margin-left: 50px;
    background-color: transparent;
    padding-bottom: 50px;
}

.targetGoals {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.firstA img{
    width: 90%;
    height: auto;
    padding-left: 50px;
    background-color: transparent;
}

.pT {
    padding-left: 50px;
    background-color: transparent;
    font-size: 14px;
    padding-bottom: 15px;
}

.firstA h4 {
    padding-left: 50px;
    background-color: transparent;
    font-size: 20px;
    padding-bottom: 30px;
}

.pTi {
    padding-left: 50px;
    background-color: transparent;
}

.base {
    color: hsl(233, 26%, 24%);
    background: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;

}

.base .acb {
    background-color: transparent;
}

.base .icon img{
    background-color: transparent;
    color: #fff;
    padding-bottom: 20px;
}

.icons li {
   
    display: inline-block;
    margin-right: 10px;
    background-color: transparent;
   
}

.acb ul {
    background-color: transparent;
    line-height: 40px;
}

.acb ul li {
    background-color: transparent;
    margin: 10px 0;
}

.acb ul li a{
    background-color: transparent;
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    
}

.base .cspp {
    background-color: transparent;
}

.cspp ul {
    background-color: transparent;
    line-height: 40px;
}

.cspp ul li {
    background-color: transparent;
    margin: 10px 0;
}

.cspp ul li a{
    background-color: transparent;
    color:#fff;
    font-weight: bold;
    text-decoration: none;
   
}

.base .RqB {
    background-color: transparent;
    line-height: 40px;
    margin-top: 40px;

}

.RqB p {
    background-color: transparent;
    color: #fff;
}

.RqB a {
    background-color: transparent;
    border-radius: 5px;
}

.attribution {
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

.attribution a {
    font-size: 14px;
}

}

@media screen and (max-width: 800px) {
    .Flex-header {
        padding: 30px 40px;
    }

    .menu{ 
        background-color: hsl(0, 0%, 100%);
        line-height: 40px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        /*opacity: 0;
        transition: all .5s ease-in-out;*/
    }

    .menu ul li{
        margin: 18px 0;

    }

    .menu ul li a {
        color: hsl(233, 26%, 24%);
        font-weight: 900;
        font-size: 17px;
        margin: 0;

    }

    .menu li a::after {
        bottom: -20px;
    }

    .search .btn{
        display: none;
    }

    .dropdown-toggle {
        display: block;

    }

    .seconDiv {
        position: relative; 
    }
    
    .imageDiv {
    background: url(images/bg-intro-desktop.svg);
    /*margin-top: -80px;*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    }


    .marketing {
        flex-direction: column;
    }

    .targetGoals {
        display: flex;
        flex-direction: column;
}

    .menu ul {
        display: flex;
        flex-direction: column;
    }
}